{
  box-sizing: border-box;
}

body {
  margin: 20;
    background-color: #ecc6d9;
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: black;
}



  h1 

{
  font-size: 50px;
  font-family: monospace, monaco;
  color: black;
  border-style: solid;
  text-align: center;
}


h2 {
  border-style: solid;
  border: 2px solid black;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  font-size: 40px;
  font-family: brush script MT;

}

h3 
{
   text-decoration: underline;
  font-size: 35px;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
}


}
p {
  color: #4d1933;
  background-color: rgba(255, 220, 230, 0.5);
}
a {
    color: #660033;
    cursor: pointer;
    text-decoration: underline;

}
img {
margin-left: -65px;
margin-top: -80px;
float:left;
padding: 20px;
}

.caixa {
  background-size: 1067.9px 950px;
  background-image: url("png1.png");
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
   padding: 80px;
  border: 4px solid black;
  border-radius: 14px;
  margin-right: 270px;
  margin-top: 35px;
  width: 515px;
  height: 600px;
  float: right;
}
.msg{
  margin-top: 550px;
  padding: 40px;
  font-size: 17px;
}
.msg::before {
            content: " ";
            animation: animate infinite 4s;
            padding-left: 10px;
        }
  
        @keyframes animate {
  
            0% {
                content: "“Always wear cute pajamas to bed, you’ll never know who u will meet in your dreams.” – Joel Madden";
            }
  
            5% {
                content: "“Whatever you are, be a good one.” – Abraham Lincoln";
            }
            10% {
                content: "“Wherever you go, go with all your heart.” – Confucius";
            }
  
            15% {
                content: "“Love is the triumph of imagination over intelligence.” – G. Elliot";
            } 20% {
                content: "“The most important thing is to enjoy your life – to be happy – it’s all that matters.” – Audrey Hepburn";
            }
  
            25% {
                content: "“We do not remember days, we remember moments.” – Cesare Pavese";
            } 30% {
                content: "“The good life is one inspired by love and guided by knowledge.” – Bertrand Russell";
            }
  
            35% {
                content: "“My life is my message.” – Mahatma Gandhi";
            }
            40% {
                content: "“We accept the love we think we deserve. – Stephen Chbosky”";
            }
  
            45% {
                content: "“If you want to live a happy life, tie it to a goal, not to people or things.” ― Albert Einstein";
            }
            50% {
                content: "“Love all, trust a few, do wrong to none. – William Shakespeare”";
            }
  
            55% {
                content: "“Be willing to be a beginner every single morning.” -Meister Eckhart";
            } 60% {
                content: "“If you can dream it, you can achieve it.” -Zig Ziglar";
            }
  
            65% {
                content: "“To fall in love with yourself is the first secret to happiness” – Robert Morley";
            } 70% {
                content: "“To love oneself is the beginning of a life-long romance.” – Oscar Wilde";
            }
  
            75% {
                content: "“A peacock that rests on his feathers is just another turkey.” – Dolly Parton";
            }
            80% {
                content: "“Don’t try to be what you’re not. If you’re nervous, be nervous. If you’re shy, be shy. Its cute.” – Adriana Lima";

            }
            85% {
                content: "“A day without sunshine is like, you know, night.” – Steve Martin";
            }
  
            90% {
                content: "“Remember, today is the tomorrow you worried about yesterday.” – Dale Carnegie";
            }
            95% {
                content:"“Do not take life too seriously. You will never get out of it alive.” – Elbert Hubbard";
              }
             100% {
                content: "“In every living thing there is the desire for love.” ~ D. H. Lawrence ";
        }
        }