{
  box-sizing: border-box;
  background-image:LOGOTIPO_PALEOTUGA_3.png
  background-repeat: no-repeat;
}
img {
margin-left: -65px;
margin-top: -80px;
float:left;
padding: 20px;
}
body {
  margin: 20;
    background-color: #ecc2d1;
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica;
    box-sizing: border-box;
    color: black;
}

h1 

{
  font-size: 50px;
  font-family: Arial;
  color: red;
  border-style: solid;
  text-align: center;
}

h2 
{
  border-style: solid;
  border: 2px solid black;
  border-radius: 14px;
  padding: 15px;
  text-align: center;
  font-size: 40px;
  font-family: calibri;

}
